.weather {
    width: 100%;
}

.forecast {
    height: 18vh;
}

.swiper-slide {
    display: initial;
}

.fc-line {
    --border-width: 0 !important;
}

.temp-min {
    color: var(--ion-color-medium);
    display: inline-block;
    margin-left: 15px;
}