<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Climbing Weather Mate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" #slides>
    <ion-slide *ngFor="let place of entries">
      <div *ngIf="place.weather">
        <h3 text-center>{{ place.weather.name }}</h3>

        <p text-center class="ion-text-capitalize">{{ place.weather.weather[0]?.description }}</p>
        
        <h2 text-center tappable (click)="changeUnits()">{{ place.weather.main.temp.toFixed() }} {{ getUnitsString() }}</h2>

        <ion-row class="ion-justify-content-center">
          <ion-col size="3">
            <img [src]="getWeatherIcon(place.weather.weather[0]?.icon)">
          </ion-col>
        </ion-row>

        <ion-list inset="true" lines="inset">
          <ion-item class="fc-line">
            <ion-icon name="sunny" slot="start"></ion-icon>
            <ion-label>
              Sunrise
            </ion-label>
            <p slot="end">{{ place.weather.sys.sunrise*1000 | date:'h:mm a' }}</p>
          </ion-item>

          <ion-item>
            <ion-icon name="moon" slot="start"></ion-icon>
            <ion-label>
              Sunset
            </ion-label>
            <p slot="end">{{ place.weather.sys.sunset*1000 | date:'h:mm a' }}</p>
          </ion-item>

          <ion-item>
            <ion-icon name="flame" slot="start"></ion-icon>
            <ion-label>
              Humidity
            </ion-label>
            <p slot="end">{{ place.weather.main.humidity }}</p>
          </ion-item>

          <ion-item>
            <ion-icon name="flag" slot="start"></ion-icon>
            <ion-label>
              Wind
            </ion-label>
            <p slot="end">{{ place.weather.wind.speed }} mps</p>
          </ion-item>
        </ion-list>
      </div>

      <ion-slides [options]="sliderConfig" *ngIf="place.forecast" class="forecast">
        <ion-slide *ngFor="let fc of place.forecast?.list">
          <app-hour-block [data]="fc" [units]="units" class="ion-text-center"></app-hour-block>
        </ion-slide>
      </ion-slides>

      <!-- <ion-slides [options]="sliderConfig" *ngIf="place.forecast" class="forecast">
        <ion-slide *ngFor="let fc of place.forecast?.list" class="ion-text-center">
          {{ fc.dt*1000 | date:'MM/dd'}}<br>
          {{ fc.dt*1000 | date:'hh a'}}
          <img [src]="getWeatherIcon(fc.weather[0]?.icon)">
          {{ fc.main.temp.toFixed() }} {{ getUnitsString()}}
        </ion-slide>
      </ion-slides> -->

    </ion-slide>
  </ion-slides>
</ion-content>
